 

 
 canvas{
     border: 1px black solid;
     margin: 0px auto;
     text-align: center;
     display: none;
     margin: 0 auto;
     padding: 0 auto;
     
     
 }


 .bender-cover{
    background: url('../img/board.jpg');
    height: 500px;
    width: 850px;
    margin: 80px auto;
    
 }

 #start-btn {
     background: lightgrey;
     color: black;
     border: none;
     padding: 15px 32px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 16px;
     margin: 4px 2px;
    

 }

